         
                <div class="col-md-6">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Input name" value="{{.Student.Name}}">
                    <p style="color: rgb(255, 0, 0);">{{ .FormError.Name }}</p>
                </div>
                <div class="col-md-6">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" {{if .Student.ID}} readonly="" {{end}} name="email" placeholder="Input email" value="{{.Student.Email}}">
                    <p style="color: rgb(255, 0, 0);">{{ .FormError.Email }}</p>
                </div>
                <div class="col-md-6">
                    <label for="roll" class="form-label">Roll</label>
                    <input type="number" class="form-control" {{if .Student.ID}} readonly="" {{end}} name="roll" placeholder="Input roll" value="{{.Student.Roll}}">
                    <p style="color: rgb(255, 0, 0);">{{ .FormError.Roll }}</p>
                </div>
                <div class="col-md-6">
                    <label for="eng" class="form-label">English</label>
                    <input type="number" class="form-control" name="eng" placeholder="Input mark" value="{{.Student.English}}">
                    <p style="color: rgb(255, 0, 0);">{{ .FormError.English }}</p>
                </div>
                <div class="col-md-6">
                    <label for="ban" class="form-label">Bangla</label>
                    <input type="number" class="form-control" name="ban" placeholder="Input mark" value="{{.Student.Bangla}}">
                    <p style="color: rgb(255, 0, 0);">{{ .FormError.Bangla }}</p>
                </div>
                <div class="col-md-6">
                    <label for="math" class="form-label">Mathematics</label>
                    <input type="number" class="form-control" name="math" placeholder="Input mark" value="{{.Student.Mathematics}}">
                    <p style="color: rgb(255, 0, 0);">{{ .FormError.Mathematics }}</p>
                </div>

                {{if gt .Student.ID 0}}
                <div class="col-md-6">
                    <label for="status" class="form-label">Status</label>
                    <br>
                    <label for="active">
                    <input type="radio" name="status" value="true" {{if .Student.Status}}checked{{end}}>
                    Active
                    </label>
                    <label for="inactive">
                    <input type="radio" name="status" value="false"{{if not .Student.Status}}checked{{end}}>
                    Inactive
                    </label>
                    <p style="color: rgb(248, 1, 1);">{{ .FormError.Status }}</p>
                </div>
                {{end}}
                
                <div class="col-12">
                <p style="color: rgb(255, 0, 0);">{{ .FormError.AlreadyExistCheck}}</p>