{{template "header.html" .}}
<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">
            
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">UBold</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Forms</a></li>
                                <li class="breadcrumb-item active">Elements</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Basic Elements</h4>
                    </div>
                </div>
            </div>     
            <!-- end page title --> 
            <!-- Form row -->
            <div class="row">
                <div class="col-lg-4 col-xl-4">
                    <div class="card-box text-center">
                        <img src="static/assets/images/users/user-1.jpg" class="rounded-circle avatar-lg img-thumbnail"
                            alt="profile-image">
            
                        <h4 class="mb-0">{{.StudentSubjecttest.First_name}}</h4>
                        <p class="text-muted">@{{.StudentSubjecttest.Username}}</p>
            
                        <button type="button" class="btn btn-success btn-xs waves-effect mb-2 waves-light">Follow</button>
                        <button type="button" class="btn btn-danger btn-xs waves-effect mb-2 waves-light">Message</button>
            
                        <div class="text-left mt-3">
                            <h4 class="font-13 text-uppercase">About Me :</h4>
                            <p class="text-muted font-13 mb-3">
                                Hi I'm {{.StudentSubjecttest.First_name}} {{.StudentSubjecttest.Last_name}},has been the industry's standard dummy text ever since the
                                1500s, when an unknown printer took a galley of type.
                            </p>
                            <p class="text-muted mb-2 font-13"><strong>Full Name :</strong> <span class="ml-2">{{.StudentSubjecttest.First_name}} {{.StudentSubjecttest.Last_name}}</span></p>
            
                            <p class="text-muted mb-2 font-13"><strong>Email :</strong><span class="ml-2">{{.StudentSubjecttest.Email}}</span></p>
            
                            <p class="text-muted mb-2 font-13"><strong>Roll :</strong> <span class="ml-2 ">{{.StudentSubjecttest.Roll}}</span></p>
            
                            <p class="text-muted mb-1 font-13"><strong>Class Name :</strong> <span class="ml-2">{{.StudentSubjecttest.Class_name}}</span></p>

                            <p class="text-muted mb-1 font-13"><strong>------------Results-------------</strong> <span class="ml-2"></span></p>

                            <p class="text-muted mb-1 font-13"><strong>Subject Name   |</strong> <span class="ml-2">Mark</span></p>
                            {{ range .FixedStudentSubject}}
                            {{if gt .Marks 0}}
                            <p class="text-muted mb-1 font-13"><strong>{{.Subject_name}} :</strong> <span class="ml-2">{{.Marks}}</span></p>
                            {{ else }}
                            <p class="text-muted mb-1 font-13"><strong>{{.Subject_name}} :</strong> <span class="ml-2">Result not published</span></p>
                            {{end}}
                            {{end}}
                        </div>
            
                        <ul class="social-list list-inline mt-3 mb-0">
                            <li class="list-inline-item">
                                <a href="/editmark/{{.ID}}" class="social-list-item border-secondary text-secondary">
                                    <i class="mdi mdi-pencil"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="/deletemark/{{.ID}}" class="social-list-item border-secondary text-secondary">
                                    <i class="mdi mdi-delete"></i>
                                </a>
                            </li>                           
                        </ul>
                    </div> <!-- end card-box -->
            </div>
            <!-- end row -->
            
        </div> <!-- container -->

    </div> <!-- content -->

    <!-- Footer Start -->
    

</div>
{{template "footer.html" .}}
