


{{template "header.html" .}}
<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">
            
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">UBold</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Forms</a></li>
                                <li class="breadcrumb-item active">Elements</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Basic Elements</h4>
                    </div>
                </div>
            </div>     
            <!-- end page title --> 

            <!-- Form row -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Edit Subject</h4>
                            <form action="/subject/update/{{.Subject.ID}}"method="POST">
                                <input type="hidden" name="_method" value="PUT">
                                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                                <div class="form-row">
                                        <select name="class_id">
                                            <option value="" selected>Select a Class</option>
                                            {{ range .Classlist}}
                                                <option {{if eq $.Subject.Class_ID .ID}} selected {{end}} value="{{.ID}}">{{.Class_name}}</option>
                                            {{end}}
                                        </select>
                                </div>
                                {{if .FormError.Class_ID}}
                                    <div class="alert alert-danger">
                                        <strong>Danger!</strong> {{ .FormError.Class_ID }}
                                    </div>
                                {{end}}
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="subjectname" class="col-form-label">Subject Name</label>
                                        <input type="text" class="form-control" id="subjectname" name="subjectname" placeholder="Input subject name" value="{{.Subject.Subject_name}}">
                                    </div>
                                </div>
                                {{if .FormError.Subject_name}}
                                    <div class="alert alert-danger">
                                        <strong>Danger!</strong> {{ .FormError.Subject_name }}
                                    </div>
                                {{end}}
                                <button type="submit" class="btn btn-primary waves-effect waves-light">Add</button>
            
                            </form>
            
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                </div> <!-- end col -->
            </div>
            <!-- end row -->
            
        </div> <!-- container -->

    </div> <!-- content -->

    <!-- Footer Start -->
    

</div>
{{template "footer.html" .}}